refs.csv filter=lfs diff=lfs merge=lfs -text
types.csv filter=lfs diff=lfs merge=lfs -text
verses_cl.csv filter=lfs diff=lfs merge=lfs -text
word_occ.csv filter=lfs diff=lfs merge=lfs -text
collectors.csv filter=lfs diff=lfs merge=lfs -text
poem_year.csv filter=lfs diff=lfs merge=lfs -text
polygon_to_place.csv filter=lfs diff=lfs merge=lfs -text
raw_meta.csv filter=lfs diff=lfs merge=lfs -text
verses.csv filter=lfs diff=lfs merge=lfs -text
places.csv filter=lfs diff=lfs merge=lfs -text
poem_collector.csv filter=lfs diff=lfs merge=lfs -text
poem_place.csv filter=lfs diff=lfs merge=lfs -text
poem_types.csv filter=lfs diff=lfs merge=lfs -text
p_sim.csv filter=lfs diff=lfs merge=lfs -text
v_clust.tsv filter=lfs diff=lfs merge=lfs -text
v_clusterings.csv filter=lfs diff=lfs merge=lfs -text
v_sim.tsv filter=lfs diff=lfs merge=lfs -text
p_clust.tsv filter=lfs diff=lfs merge=lfs -text
